<div class="wizard_Container">
    <div class="formContainer">
        <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="mainForm" enctype="multipart/form-data" method="get" action="">
            <label for="formUploader">${nls.uploaderTitle}</label>
            <input name="formUploader" data-dojo-type="dojox/form/Uploader" type="file" class="UploaderButton" data-dojo-attach-point="formUploader"></input>
        </div>
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="nextButton">Next</div>
</div>